<h1>Board#index</h1>

<%= link_to 'Generate', board_generate_path %>

<table>
  <tr>
    <td></td>
    <% ('A'..'Z').to_a.first(Board::MATRIX_SIZE).each do |col| %>
    <td>
      <%= col %>
    </td>
    <% end %>
  </tr>
  <% @board.grid.each_with_index do |x, xi| %>
    <tr>
      <td> <%= xi +1 %></td>
      <% x.each do |y| %>
        <td> <%= y.zero? ? 0 : y %> </td>
      <% end %>
      <tr>
  <% end %>

</table>
