<p align="middle"><i>Welcome to the "Battleship Game"</i> </p>
<%= image_tag("game.jpg", :alt => "rss feed", :size => "1820x900",
              :align=> "middle",

              :style => "border: 5px solid blue") %>
<%= button_to "New Game!", "/board/index", :method => "get", :align=> "middle" %>

